@charset "UTF-8";
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translate(0%, -50%);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  position: relative;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}
.container--center {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.container--padding-top {
  padding-top: 52px;
}
.container--paddings-bottom-hero {
  padding-bottom: 194px;
}

@media screen and (min-width: 380px) {
  .container {
    width: 374px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .container--paddings-bottom-hero {
    padding-bottom: 185px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1170px;
    padding: 0;
  }
  .container--paddings-bottom-hero {
    padding-bottom: 266px;
  }
  .container--padding-top {
    padding-top: 80px;
  }
}
.header-light-bg {
  color: #1b1d1b;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.header-dark-bg {
  color: #f7fbfb;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header-light-bg,
  .header-dark-bg {
    font-size: 52px;
  }
}
@media screen and (min-width: 1440px) {
  .header-light-bg,
  .header-dark-bg {
    font-size: 68px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 375px;
  background-color: #f7fbfb;
  padding: 52px 32px 36px 32px;
}

.modal-btn__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: none;
  stroke: #202321;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 478px;
    padding: 60px 52px 40px 52px;
  }
}
@media screen and (min-width: 1440px) {
  .modal {
    max-width: 774px;
    padding: 116px 100px 60px 100px;
  }
  .modal-btn__close {
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
  }
}
.modal-form__title {
  color: #1b1d1b;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-form__description {
  color: #202321;
  text-align: center;
  margin-bottom: 24px;
}

.modal-form__input {
  border: none;
  border-bottom: 1px solid #a3a5a3;
  width: 100%;
  background: #f7fbfb;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 8px;
}
.modal-form__input::placeholder {
  color: #202321;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .modal-form__title {
    font-size: 32px;
  }
  .modal-form__description {
    font-size: 18px;
  }
  .modal-form__input {
    font-size: 18px;
  }
  .modal-form__input::placeholder {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .modal-form__title {
    font-size: 60px;
    margin-bottom: 24px;
  }
  .modal-form__description {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .modal-form__description::placeholder {
    font-size: 24px;
  }
  .modal-form__input {
    font-size: 24px;
  }
  .modal-form__input::placeholder {
    font-size: 24px;
  }
  .modal-form__input {
    margin-bottom: 24px;
  }
}
.check {
  display: flex;
  margin-bottom: 24px;
  padding-left: 1.6em;
  color: #1b1d1b;
  font-size: 16px;
}

.check__input {
  position: absolute;
  appearance: none;
}

.check__box {
  padding: 2px;
  position: absolute;
  margin-left: -1.6em;
  width: 1em;
  height: 1em;
  border: 1px solid #202321;
}

.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='checkmark-outline'%3E%3Cpath id='Vector' d='M16.25 5L7.5 15L3.75 11.25' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
  background-position: 50% 50%;
}

.check__input:focus + .check__box {
  box-shadow: 0px 0px 1px 1px #5b86a1;
}

@media screen and (min-width: 768px) {
  .check {
    font-size: 18px;
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1440px) {
  .check {
    font-size: 24px;
    margin-bottom: 44px;
  }
}
.btn {
  width: 311px;
  height: 52px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: #5b86a1;
  color: #f7fbfb;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.btn:hover, .btn:focus {
  background-color: #1b1d1b;
}

@media screen and (min-width: 768px) {
  .btn {
    width: 100%;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    width: 100%;
    font-size: 24px;
  }
}
@media screen and (max-width: 1439px) {
  .hide-on-mobile-menu {
    opacity: 1;
    transition: opacity 0.2s ease; /* Додайте анімацію зміни прозорості */
  }
  .hide-on-mobile-menu {
    opacity: 0;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: translate(-100%);
    transition: transform 0.3s ease;
  }
  .is-open {
    transform: translateY(0);
  }
  .display-none {
    display: none;
  }
  .mobile-menu__wrapper {
    display: flex;
    flex-direction: column;
    width: 233px;
    height: 100%;
    background-color: rgba(32, 35, 33, 0.7);
  }
}
@media screen and (max-width: 1439px) and (min-width: 768px) {
  .mobile-menu__wrapper {
    width: 374px;
  }
}
@media screen and (max-width: 1439px) {
  .mobile-menu__btn-close {
    position: absolute;
    top: 21px;
    right: 32px;
    border: none;
    background-color: transparent;
    color: #f7fbfb;
  }
  .mobile-menu__icon-close {
    stroke: currentColor;
  }
  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #f7fbfb;
    padding-left: 32px;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 64px;
  }
  .mobile_menu__social {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    padding-left: 32px;
  }
  .mobile-menu__social-link {
    color: #f7fbfb;
  }
  .mobile-item__link {
    text-decoration: none;
    color: #f7fbfb;
  }
  .mobile-menu__logo {
    width: 40px;
    margin: 20px 0 72px 32px;
    color: #f7fbfb;
  }
  .mobile-menu__icon {
    fill: currentColor;
    width: 30px;
    height: 30px;
  }
  .mobile-menu__backdrop {
    position: relative;
    height: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}
.header {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 99;
}

.logo {
  color: #f7fbfb;
  display: flex;
  align-items: center;
}

.logo__icon {
  fill: currentColor;
}

.menu__link {
  display: block;
}

.container--align {
  padding-top: 20px;
}

@media screen and (max-width: 1440px) {
  .menu__list {
    display: none;
  }
  .container--align {
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #f7fbfb;
  }
  .mobile-menu-button__icon {
    stroke: currentColor;
  }
  .container--align {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-menu-button {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: space-between;
  }
  .menu__list {
    display: flex;
    gap: 80px;
  }
  .menu__link {
    color: #f7fbfb;
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu__link:hover {
    border-bottom: 2px solid #f7fbfb;
  }
  .container--align {
    padding-top: 24px;
  }
}
.hero {
  background-color: #a3a5a3;
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  width: 100%;
  color: #f7fbfb;
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 188px;
  margin-bottom: 60px;
}

.hero__intro-text {
  color: #f7fbfb;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 88px;
}

.hero__button {
  width: 100%;
  height: 52px;
  padding: 10px;
  border: none;
  background: #5b86a1;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #f7fbfb;
  margin-left: auto;
  margin-right: auto;
}
.hero__button:hover, .hero__button:focus {
  background-color: #f7fbfb;
  color: #1b1d1b;
}

.hero__list {
  display: none;
}

@media screen and (min-width: 380px) {
  .hero__title {
    font-size: 40px;
  }
  .hero__button {
    width: 252px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 68px;
    line-height: normal;
  }
  .hero__intro-text {
    width: 470px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
  .hero__button {
    width: 394px;
    height: 56px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__list {
    display: block;
    position: absolute;
    right: 0;
    bottom: 153px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .hero__intro-text {
    width: 675px;
    font-size: 28px;
  }
  .hero__social-link {
    color: #f7fbfb;
  }
  .hero__social-link:hover, .hero__social-linkfocus {
    color: #5b86a1;
  }
  .hero__icon {
    fill: currentColor;
  }
  .hero__button {
    width: 575px;
    font-size: 24px;
  }
}
.about__header {
  margin-bottom: 28px;
}

.about__paragraf {
  color: #202321;
  font-size: 16px;
  margin-bottom: 1em;
}
.about__paragraf--last {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .about__paragraf {
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .about__paragraf {
    font-size: 24px;
  }
}
.advantages__header {
  padding-bottom: 28px;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  background-image: url("../../images/advantages_3.jpg");
  background-size: cover;
  padding: 87px 0 87px 0;
}

.advantages__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 100%;
  background-color: #5b86a1;
  color: #f7fbfb;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 6px 8px 26px;
}

.advantages__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .advantages__header {
    padding-bottom: 40 px;
  }
  .advantages__list {
    width: 728px;
    background-image: url("../../images/advantages_1.png"), url("../../images/advantages_3.jpg");
    background-size: 354px 441px, 354px 441px;
    background-repeat: no-repeat;
    background-position: 0 0, 374px 220px;
  }
  .advantages__item {
    width: 604px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 12px 12px 44px;
    font-size: 20px;
  }
  .advantages__icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__header {
    padding-bottom: 60px;
  }
  .advantages__list {
    width: 1170px;
    background-image: url("../../images/advantages_1.png"), url("../../images/advantages_2.jpg"), url("../../images/advantages_3.jpg");
    background-size: 377px 558px, 377px 507px, 377px 588px;
    background-repeat: no-repeat;
    background-position: 0 0, 396px 104px, 792px 220px;
  }
  .advantages__item {
    width: 630px;
    padding: 12px 12px 12px 126px;
    font-size: 24px;
  }
}/*# sourceMappingURL=main.css.map */