.about__header {
  margin-bottom: 28px;
}

.about__paragraf {
  color: $secondaryText;
  font-size: 16px;
  margin-bottom: 1em;
  &--last {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .about__paragraf {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .about__paragraf {
    font-size: 24px;
  }
}
