.gallery {
}

.gallery__header {
}

.gallery__list {
  display: flex;
  flex-direction: row;
  gap: 20px;

  overflow: hidden;
}

.gallery__item {
}

.gallery__img-thumb {
  width: 280px;
  height: 480px;
  overflow: hidden;

  & img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0px 0px;
  }
}

.tours__icon {
  width: inherit;
  height: inherit;
}

.gallery__arrow-btn-container {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .gallery__img-thumb {
    width: 354px;
    height: 275px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery__img-thumb {
    width: 575px;
    height: 445px;
  }
}
