.header {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 99;
}

.logo {
  color: $light;
  display: flex;
  align-items: center;
}

.logo__icon {
  fill: currentColor;
}

.menu__link {
  display: block;
}

.container--align {
  padding-top: 20px;
}

@media screen and (max-width: 1440px) {
  .menu__list {
    display: none;
  }

  .container--align {
    display: flex;

    justify-content: space-between;
  }

  .mobile-menu-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: $light;
  }

  .mobile-menu-button__icon {
    stroke: currentColor;
  }

  .container--align {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .mobile-menu-button {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
  }

  .menu__list {
    display: flex;
    gap: 80px;
  }

  .menu__link {
    color: $light;
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      border-bottom: 2px solid $light;
    }
  }

  .container--align {
    padding-top: 24px;
  }
}

// @media screen and (min-width: 375px) {
//   .container--align {
//     padding-top: 24px;
//   }
// }

// @media screen and (min-width: 768px) {
//   .container--align {
//     padding-top: 24px;
//   }
// }
