.reviews__card-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.reviews__header {
}

.reviews__card {
  width: 311px;
  min-height: 452px;

  background-image: url(../../images/bg_reviews.png);
  background-size: 100% 134px;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
  padding-top: 72px;

  border: 1px solid $accentColor;

  &--third {
    display: none;
  }
}

.reviews__img-thumb {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  & img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0px 0px;
  }
}

.reviews__avatar {
}

.reviews__name {
  color: $accentColor;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.reviews__comment {
  color: $secondaryText;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}

.reviews__btn {
  all: unset;
  position: absolute;
  bottom: 12px;
  right: 12px;
  color: $accentColor;
}

.reviews__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .reviews__card-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .reviews__card {
    width: 354px;
    height: 504px;
  }
}

@media screen and (min-width: 1440px) {
  .reviews__card {
    width: 377px;

    &--third {
      display: inline-flex;
    }
  }

  .reviews__img-thumb {
    width: 125px;
    height: 125px;
  }
}
