.tours__carousel {
  display: flex;
  overflow: hidden;
  width: 100%; /* Ширина каруселі, змініть за потребою */
}

.tours__carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;

  background: $light;
}

.tours__card {
  flex: 0 0 auto;
  max-width: 311px; /* Ширина карточки, змініть за потребою */
  margin-right: 15px; /* Відстань між карточками, змініть за потребою */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  border: 1px solid $accentColor;
}

.tours__card-img {
  max-width: 309px;
  height: 338px;
  object-fit: cover;
}

.tours__info-container {
  padding: 20px;
  &--padding-top {
    padding-top: 28px;
  }
  &--padding-bottom {
    padding-bottom: 28px;
  }
}

.tours__title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 16px;
}

.tours__details {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 20px;
}

.tours__btn {
  all: unset;
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;

  color: #f7fbfb;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  background-color: $accentColor;
}

.tours__arrow-container {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

@media screen and (min-width: 768px) {
  .tours__card {
    width: 354px;
  }

  .tours__card-img {
  width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1440px) {
  .tours__arrow-container {
    display: none;
  }
}
