.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  //   transition: opacity var(--duration-and-timing-function),
  //     transform var(--duration-and-timing-function),
  //     visibility var(--duration-and-timing-function);
}
