.check {
  display: flex;
  margin-bottom: 24px;
  padding-left: 1.6em;
  color: #1b1d1b;
  font-size: 16px;
}

.check__input {
  position: absolute;
  appearance: none;
}

.check__box {
  padding: 2px;
  position: absolute;
  margin-left: -1.6em;

  width: 1em;
  height: 1em;

  border: 1px solid $secondaryText;
}

//Checked
.check__input:checked + .check__box {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='checkmark-outline'%3E%3Cpath id='Vector' d='M16.25 5L7.5 15L3.75 11.25' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
  background-position: 50% 50%;
}

// Focused
.check__input:focus + .check__box {
  box-shadow: 0px 0px 1px 1px #5b86a1;
}

// https://yoksel.github.io/url-encoder/ru/
@media screen and (min-width: 768px) {
  .check {
    font-size: 18px;
  }
}
