.container {
  position: relative;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;

  &--center {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  &--padding-top {
    padding-top: 52px;
  }
  &--padding-bottom {
    padding-bottom: 52px;
  }

  &--paddings-bottom-hero {
    padding-bottom: 194px;
  }
}


@media screen and (min-width: 380px) {
  .container {
    width: 374px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;

    &--paddings-bottom-hero {
      padding-bottom: 185px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1170px;
    padding: 0;

    &--paddings-bottom-hero {
      padding-bottom: 266px;
    }

    &--padding-top {
      padding-top: 80px;
    }

    &--padding-bottom {
      padding-bottom: 80px;
    }
  }
}
