@media screen and (max-width: 1439px) {
  .hide-on-mobile-menu {
    opacity: 1;
    transition: opacity 0.2s ease; /* Додайте анімацію зміни прозорості */
  }

  .hide-on-mobile-menu {
    opacity: 0;
    display: none;
  }

  // .mobile-menu.is-open + .hide-on-mobile-menu {
  //   opacity: 0;
  // }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    // background-image: url("../../images/hero.jpg");
    background-size: cover;

    transform: translate(-100%);
    transition: transform 0.3s ease;
  }

  .is-open {
    transform: translateY(0);
  }

  .display-none {
    display: none;
  }

  .mobile-menu__wrapper {
    display: flex;
    flex-direction: column;

    width: 233px;
    height: 100%;

    background-color: rgba(32, 35, 33, 0.7);

    @media screen and (min-width: 768px) {
      & {
        width: 374px;
      }
    }
  }

  .mobile-menu__btn-close {
    position: absolute;
    top: 21px;
    right: 32px;
    border: none;
    background-color: transparent;
    color: $light;
  }

  .mobile-menu__icon-close {
    stroke: currentColor;
  }

  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    color: $light;
    padding-left: 32px;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 64px;
  }

  .mobile_menu__social {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    padding-left: 32px;
  }

  .mobile-menu__social-link {
    color: $light;
  }

  .mobile-item__link {
    text-decoration: none;
    color: $light;
  }

  .mobile-menu__logo {
    width: 40px;
    margin: 20px 0 72px 32px;
    color: $light;
  }

  .mobile-menu__icon {
    fill: currentColor;

    width: 30px;
    height: 30px;
  }

  .mobile-menu__backdrop {
    position: relative;

    height: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}
